/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* line 1, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/base/reset.scss */
html, body, section, article,
h1, h2, p, strong, em, a, main {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  font-family: sans-serif;
  height: inherit;
  width: inherit;
}

/* line 18, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/base/reset.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 23, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/base/reset.scss */
.video {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  left: 0;
  top: 0;
}

/* line 34, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/base/reset.scss */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* line 40, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/base/reset.scss */
button:focus {
  outline: 0;
}

/* line 1, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/base/layout.scss */
body {
  background: white;
  font-family: Roboto, Helvetica, sans-serif;
}

/* line 6, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/base/layout.scss */
button {
  font-size: 14px;
  padding: 7px 10px;
  background: lightblue;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* line 16, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/base/layout.scss */
button:hover {
  background: darkblue;
}

/* line 20, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/base/layout.scss */
a:hover {
  text-decoration: none;
}

/* line 3, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.artist-info {
  width: 900px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px;
  top: 50px;
}

/* line 11, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.artist-header h1 {
  font-size: 50px;
  font-weight: bold;
}

/* line 16, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.artist-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: solid black 2px;
  width: 92%;
}

/* line 24, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.invisible {
  height: 50px;
}

/* line 28, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.image {
  width: 300px;
  height: 300px;
  box-sizing: inherit;
  font-size: 22px;
}

/* line 35, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
img {
  width: 100%;
  height: 100%;
  border: solid black 2px;
}

/* line 41, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.right-hand-container {
  position: relative;
  float: right;
  right: 70px;
  width: 450px;
}

/* line 48, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.left-hand-container {
  position: relative;
  float: left;
  width: 304px;
}

/* line 54, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.edit {
  height: 50px;
  width: 220px;
  font-size: 24px;
  position: relative;
  top: 6px;
}

/* line 62, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.finish-edit {
  height: 50px;
  width: 220px;
  font-size: 18px;
  position: relative;
  top: 6px;
  margin-left: 5px;
}

/* line 71, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.bio {
  border: solid black 2px;
  width: inherit;
  box-sizing: border-box;
  font-size: 22px;
  padding: 20px;
}

/* line 79, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.name-submit {
  height: 28px;
  margin-left: 2px;
  margin-top: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* line 87, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.songindex {
  padding: 0px;
  border: solid black 2px;
  width: inherit;
  box-sizing: border-box;
  font-size: 22px;
}

/* line 95, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.text {
  width: 100%;
  font-size: 14px;
}

/* line 100, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_info.scss */
.upload-image {
  position: relative;
  top: 3px;
}

/* line 1, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_profiles.scss */
.artist-profiles {
  width: 100%;
  background-color: white;
  position: relative;
}

/* line 7, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_profiles.scss */
.artist-profiles h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
}

/* line 14, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_artist_profiles.scss */
.bio-textarea {
  max-width: 100%;
}

/* line 1, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.company {
  flex: 1;
}

/* line 5, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.community {
  flex: 1;
}

/* line 9, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
footer {
  margin-top: 60px;
  height: 270px;
  width: 100vw;
  background: black;
}

/* line 17, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.footer-flex {
  font-size: 15px;
  width: 85%;
  height: 50%;
  display: flex;
  position: relative;
  margin: auto;
  top: 40px;
  left: 50px;
  color: #dbd6db;
}

/* line 29, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.footer-flex li:hover {
  color: white;
}

/* line 33, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.footer-flex ul {
  padding-left: 0px;
}

/* line 37, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.logo-footer {
  flex: 1;
}

/* line 42, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.logo-footer a {
  display: block;
  width: 120px;
  height: 120px;
  background-image: url(/assets/whiteheadphones-5eb0966b1cd3f84529e71d4d910bc559fae4d584b1c75ad4b8742f5b8da0dfb3.png);
  background-repeat: no-repeat;
  background-size: 120px;
  opacity: 0.8;
  transition: opacity ease;
}

/* line 53, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.logo-footer a:hover {
  opacity: 1;
}

/* line 58, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.footer h4 {
  margin: 0px;
}

/* line 62, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_footer.scss */
.resources {
  flex: 1;
}

/* line 5, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
.header {
  background: black;
  color: white;
}

/* line 10, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
.header-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 19, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
.header-logo {
  margin-left: 80px;
  font-size: 26px;
  font-weight: 400;
  display: flex;
  width: 550px;
  justify-content: space-between;
  align-items: center;
}

/* line 29, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
.headphones {
  width: 40px;
  position: relative;
  height: 40px;
  right: 10px;
  top: 5px;
}

/* line 37, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
.home-page-revisit {
  position: relative;
  bottom: 3px;
}

/* line 42, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
.musician-hub {
  display: inline-block;
  position: relative;
  bottom: 5px;
}

/* line 48, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
.nav-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  height: 100%;
}

/* line 59, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* line 67, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
li {
  list-style: none;
}

/* line 71, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_header.scss */
a:hover {
  color: white;
}

/* line 3, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.artist-profiles-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* line 9, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.create-profile-button {
  color: white;
  background: rgba(150, 150, 150, 0.5);
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

/* line 18, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.create-profile-button:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* line 23, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.dropdown {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 300px;
  font-size: 16px;
  font-family: Roboto;
}

/* line 32, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.dropdown-content {
  display: block;
  position: absolute;
  left: 0px;
  top: -26px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 306px;
  text-decoration: none;
  z-index: 6;
}

/* line 43, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.dropdown-content li {
  font-size: 16px;
  color: black;
  background: lightgrey;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  border-bottom: solid #61666d 1px;
}

/* line 53, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.dropdown-content li:hover {
  background: black;
  color: white;
}

/* line 59, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.filler {
  position: relative;
}

/* line 63, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.flex-container {
  position: relative;
  right: 25px;
  top: 10px;
}

/* line 69, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.fa-circle:before {
  content: "\f111";
  position: absolute;
  font-size: 85px;
  left: -16px;
  top: -20px;
}

/* line 77, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.fa-music {
  color: white;
  font-size: 34px;
  margin-right: 12px;
  margin-bottom: 5px;
}

/* line 84, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.fa-play:before {
  content: "\f04b";
  font-size: 40px;
  position: relative;
  left: 2px;
}

/* line 90, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.fa-stack {
  left: 92px;
  top: 90px;
}

/* line 95, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.fa-stack-1x {
  line-height: inherit;
  color: white;
  left: 3px;
}

/* line 101, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.home-page-message {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 200px;
  color: white;
}

/* line 109, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
li.sample-artist:hover div.play-button-image {
  display: block;
  position: absolute;
  cursor: pointer;
}

/* line 115, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.material-icons {
  position: relative;
  top: 7px;
  background: lightgrey;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  height: 26px;
  box-sizing: border-box;
  border-radius: 0px 3px 3px 0px;
}

/* line 127, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.play-button-image {
  display: none;
}

/* line 131, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.sample-artist {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 50px;
}

/* line 138, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.sample-artist a {
  width: 229px;
  display: block;
}

/* line 143, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.sample-artist-image {
  width: 225px;
  height: 225px;
}

/* line 148, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.sample-artist-image:hover {
  cursor: pointer;
}

/* line 152, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.sample-artist a {
  text-decoration: underline;
}

/* line 156, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.sample-artist a:hover {
  color: black;
  text-decoration: underline;
}

/* line 161, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.searchbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 169, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.video-container {
  width: 100%;
  height: 500px;
  position: relative;
  left: 0px;
  top: 0px;
  align-items: center;
  text-align: center;
}

/* line 179, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.video-container h1 {
  font-size: 80px;
  font-weight: bolder;
  color: white;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 30px;
}

/* line 188, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.video-container h3 {
  font-size: 25px;
}

/* line 192, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.video-container button {
  position: relative;
  z-index: 0;
  top: 380px;
}

/* line 198, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.video-container button:active,
.video-container button:focus,
.video-container button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 207, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_home_page.scss */
.video-mask {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 500px;
  background: black;
  z-index: -1;
  transition: background 1.4s;
}

/* line 2, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.demo {
  width: 100%;
  margin-top: 10px;
}

/* line 7, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.entry-button {
  width: 100%;
  position: relative;
}

/* line 12, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.errors {
  font-size: 14px;
  color: #ff0000;
  position: relative;
  right: 40px;
  margin-bottom: 4px;
  top: 15px;
}

/* line 21, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.errors-list {
  font-size: 14px;
  color: #ff0000;
  position: relative;
  top: 10px;
  margin-bottom: 30px;
}

/* line 29, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.form-container {
  padding: 20px;
  border: solid black 1px;
  background: white;
  box-sizing: inherit;
  font-size: 22px;
  width: 350px;
  border-radius: 10px;
}

/* line 39, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.form-container form {
  margin-top: 20px;
}

/* line 43, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.form-container h1 {
  height: 25px;
  text-align: center;
}

/* line 48, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.form-container input {
  font-size: 18px;
  margin-top: 10px;
  width: 344px;
}

/* line 54, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.list-container a {
  cursor: pointer;
}

/* line 58, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.sessionForm-input {
  max-width: 100%;
}

/* line 63, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.session-form-swap-text {
  position: relative;
  top: 20px;
  font-size: 15px;
}

/* line 68, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.session-form-swap-text a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

/* line 74, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.splash-image {
  background: url(https://res.cloudinary.com/dndf8vddw/image/upload/v1481433338/akbd4la37y4ashf9qtdh.jpg);
  height: 100vh;
  background-position: 0;
  background-size: cover;
}

/* line 81, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_session_form.scss */
.ReactModal__Body--open {
  overflow-y: hidden;
}

/* line 1, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_form.scss */
.song-form {
  margin-top: 10px;
  border: solid black 2px;
  padding: 15px;
}

/* line 7, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_form.scss */
.submit-song {
  margin-top: 4px;
  padding: 5px;
}

/* line 12, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_form.scss */
.upload-song-file {
  margin-top: 4px;
  padding: 5px;
}

/* line 17, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_form.scss */
.cancel-submit-song {
  margin-top: 4px;
  margin-left: 3px;
  padding: 5px;
}

/* line 1, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index.scss */
.songs-box {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

/* line 8, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index.scss */
.songs-header {
  width: 80%;
  font-size: 30px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 20px;
}

/* line 17, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index.scss */
.edit-songs-button {
  position: relative;
  bottom: 5px;
}

/* line 22, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index.scss */
.edit-songs-cancel {
  position: relative;
  bottom: 5px;
}

/* line 1, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index_item.scss */
.song-item {
  padding-bottom: 5px;
}

/* line 5, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index_item.scss */
.title {
  font-size: 16px;
  position: relative;
  top: 1px;
}

/* line 11, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index_item.scss */
.util-section {
  position: relative;
  bottom: 9px;
  margin-bottom: 15px;
}

/* line 17, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index_item.scss */
.song-player {
  margin-top: 10px;
  display: inline-block;
}

/* line 22, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index_item.scss */
.play-click {
  width: 80px;
  background: lightblue;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 1px;
}

/* line 34, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index_item.scss */
.download-button {
  display: inline-block;
  width: 80px;
  height: 20px;
  background: lightblue;
  padding: 5px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-left: 1px;
}

/* line 49, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index_item.scss */
.delete-click {
  width: 80px;
  background: lightblue;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 1px;
  left: 1px;
}

/* line 62, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_index_item.scss */
.download-button a {
  position: relative;
  top: 1px;
}

/* line 2, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.artist-info-section {
  position: relative;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* line 10, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.artist-info-section a {
  width: 70px;
}

/* line 15, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.elapsed {
  display: block;
  position: relative;
  font-size: 14px;
  width: 67px;
}

/* line 23, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.song-footer {
  position: fixed;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px;
  background-color: #f1f4f4;
}

/* line 33, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.fa-volume-up {
  position: relative;
  left: 50px;
  font-size: 23px !important;
}

/* line 40, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.link-to-artist {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 47, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.link-to-artist:hover {
  color: black;
}

/* line 56, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.play-button {
  height: 100%;
  width: 70px;
  color: black;
  background: #f1f4f4;
}

/* line 63, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.play-button:focus {
  outline: none;
  background: #f1f4f4;
}

/* line 68, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.play-button:hover {
  background: #f1f4f4;
}

/* line 72, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.input-slider {
  position: relative;
  margin-left: 50px;
  margin-right: 40px;
}

/* line 80, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.fa-pause:before {
  content: "\f04c";
  font-size: 40px;
}

/* line 85, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.small-artist-image {
  width: 70px;
  height: 100%;
  border: none;
}

/* line 91, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.song-display-container {
  width: 75%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* line 99, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.song-controls {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;
  position: relative;
}

/* line 107, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.song-description {
  text-align: center;
}

/* line 110, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.song-slider {
  margin-left: 20px;
}

/* line 114, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
input[type='range'].input-slider {
  -webkit-appearance: none !important;
  background: #cccccc;
  height: 2px;
  width: 180px;
  margin-left: 50px;
  margin-right: 20px;
}

/* line 122, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
input[type='range'].input-slider:focus {
  outline: 0;
}

/* line 125, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
input[type='range'].input-slider::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: grey;
  height: 8px;
  width: 8px;
  border-radius: 8px;
}

/* line 133, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.volume-slider-container {
  display: none;
  border-radius: 20px;
  position: absolute;
  transform: rotate(270deg);
  right: 0px;
  left: -62px;
  background: #f1f4f4;
  width: 140px;
  bottom: 80px;
}

/* line 145, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.volume-slider-container:hover {
  display: block;
}

/* line 149, /Users/briantsai/Desktop/MusicianHub/app/assets/stylesheets/components/_song_player.scss */
.volume-slider-container.visible {
  display: block;
}
