body {
  background: white;
  font-family: $roboto;
}

button {
  font-size: 14px;
  padding: 7px 10px;
  background: #7fbee6;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background: #4683ea;
}

a:hover {
  text-decoration: none;
}
