.artist-profiles {
  width: 100%;
  background-color: yellow;
  position: relative;
  top: 50px;
}

.artist-profiles h1 {
  text-align: center;
  font-size: 25px;
}


footer {
  background-color: green;
  height: 200px;
  opacity: 0;
}
