

.artist-info {
  width: 900px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px;
  top: 50px;
}

.artist-header h1{
  font-size: 50px;
  font-weight: bold;
}

.artist-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: solid black 2px;
  width: 92%
}

.invisible {
  height: 50px;
}
//this is the img box
.image {
  width: 300px;
  height: 300px;
  box-sizing: inherit;
  font-size: 22px;
}
//the actual image
img {
  width: 100%;
  height: 100%;
  border: solid black 2px;
}

.invisible input {
  position: relative;
    font-size: 16px;
    top: 3px;
}

.right-hand-container {
  position: relative;
  float: right;
  right: 70px;
  width: 450px;
}

.left-hand-container {
  position: relative;
  float: left;
  width: 304px;
}

.edit {
  height: 50px;
  width: 220px;
  font-size: 24px;
  position: relative;
  top: 6px;
}

.finish-edit {
  height: 50px;
  width: 220px;
  font-size: 18px;
  position: relative;
  top: 6px;
  margin-left: 5px;
}

.bio {
  border: solid black 2px;
  width: inherit;
  box-sizing: border-box;
  font-size: 22px;
  padding: 20px;
}

.link-back-to-index {
  font-size:18px;
  position: relative;
  left: 12px;
  top: 10px;
}

.link-back-to-index:hover {
  color: #002bb8;
  text-decoration:underline;

}
.link-back-to-index:visited {
  color: #5a3696;;
}

.name-submit {
  height: 25px;
  margin-left: 2px;
  margin-top: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
  top: 3px;
}

.songindex {
  height: 800px;
  overflow-y: scroll;
  padding: 0px;
  border: solid black 2px;
  width: inherit;
  box-sizing: border-box;
  font-size: 22px;
}

.songindex::-webkit-scrollbar {
  width: 12px;
}

.songindex::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.songindex::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.text {
  width: 100%;
  font-size: 14px;
}

.upload-image {
  position: relative;
  top: 8px;
}
