

.fa-headphones {
  font-size: 35px !important;
  margin-right: 8px;
  position:relative;
  top: 3px;
}

.header {
  background: black;
  color: white;
}

.header-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}


.header-logo {
  margin-left: 80px;
  font-size: 26px;
  font-weight: 400;
  display: flex;
  width: 550px;
  justify-content: space-between;
  align-items: center;
}

.home-page-revisit {
  position: relative;
  bottom: 3px;
}

.nav-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  height: 100%
}



.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a:hover {
  color: white;
}
