

.artist-profiles-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.create-profile-button {
  color: white;
  background: rgba(150,150,150,0.5);
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.create-profile-button:hover {
  background: rgba(0,0,0,0.5);
}

//this is the input
.dropdown {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 300px;
    font-size: 16px;
    font-family: Roboto;
}

.dropdown-content {
    display: block;
    position: absolute;
    left: 0px;
    top: -26px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 306px;
    text-decoration: none;
    z-index: 6;
}

.dropdown-content li{
  font-size: 16px;
  color: black;
  background: lightgrey;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  border-bottom: solid #61666d 1px;
}

.dropdown-content li:hover {
  background: black;
  color: white;
}


.filler {
  position: relative;
}

.flex-container {
  position: relative;
  right: 25px;
  top: 10px;
}

.fa-circle:before {
  content: "\f111";
  position: absolute;
  font-size: 85px;
  left: -16px;
  top: -20px;
}

.fa-music {
  color: white;
  font-size: 34px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.fa-play:before {
  content: "\f04b";
  font-size: 40px;
  position: relative;
  left: 2px;
}
.fa-stack {
  left: 92px;
  top: 90px;
}

.fa-stack-1x {
  line-height: inherit;
  color: white;
  left: 3px;
}

.home-page-message {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 200px;
  color: white;
  z-index: 1;
}

li.sample-artist:hover div.play-button-image {
  display: block;
  position: absolute;
  cursor: pointer;
}

.material-icons {
  position: relative;
  top: 7px;
  background: lightgrey;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  height: 26px;
  box-sizing: border-box;
  border-radius: 0px 3px 3px 0px;
}

.play-button-image {
  display: none;
}

.sample-artist {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 50px;
}

.sample-artist-image {
  width: 225px;
  height: 225px;
}

.sample-artist-image:hover{
  cursor: pointer;
}

.sample-artist a {
  text-decoration: underline;
}

.sample-artist a:hover {
  color: black;
  text-decoration: underline;
}

.searchbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.video-container {
  width: 100%;
  height: 500px;
  position: relative;
  left: 0px;
  top: 0px;
  align-items: center;
  text-align: center;
}

.video-container h1 {
  font-size: 80px;
  font-weight: bolder;
  color: white;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 30px;
}
.video-container h3 {
  font-size: 25px;
}

.video-container button {
  position: relative;
  z-index: 5;
  top: 380px;
}

.video-container button:active,
.video-container button:focus,
.video-container button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.video-mask {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 500px;
  background: rgba(0,0,0,0.5);
}
