.artistIndexHeading {
  text-align:center;
  font-style: bold;
  letter-spacing: 1px;
  font-weight: bolder;
  margin-top: 50px;
  font-size: 55px;
}

.indexContainer a:visited {
  color: #5a3696;
}

.indexContainer {
  width: 90%;
  height: 3000px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
  font-weight: bolder;
}

.indexContainer hr {
  width: 70%;
  margin-left: 0px;
  border: none;
  height: 2px;
  color: #333; /* old IE */
  background-color: #333;
  margin-bottom: 15px;
}

.indexContainer ul {
  padding-left: 0px;
}


.indexArtistLink {
  color: #002bb8;
}

.indexArtistLink:hover{
  text-decoration:underline;
  color: #002bb8;
}

.letter {
  margin-top: 30px;
}


.letterSection {
  width: 210px;
  display: flex;
  flex-flow: column wrap;
  font-weight:normal;
}
