.form-container {
  padding: 20px;
  border: solid #cecbb3 1px;
  width: 270px;

  box-sizing: inherit;
  position: relative;
  top: 50px;
  left: 36%;
  font-size: 22px;
}

.form-container form{
  margin-top: 20px;
}

.form-container input{
  font-size: 18px;
  margin-top: 10px;
}



.errors {
  font-size: 14px;
  color: $red;
  position: relative;
  right: 40px;
  margin-bottom: 4px;
}
