
.demo {
  position: absolute;
  top: 239px;
}

.entry-button {
  left: 107px;
  position: relative;
}

.errors {
  font-size: 14px;
  color: $red;
  position: relative;
  right: 40px;
  margin-bottom: 4px;
}

.errors-list {
  font-size: 14px;
  color: $red;
  position: relative;
  margin-bottom: 0px;

}

.form-container {
  padding: 20px;
  border: solid #cecbb3 1px;
  width: 270px;
background: #f1f4f4;
  box-sizing: inherit;
  position: relative;
  top: 50px;
  left: 36%;
  font-size: 22px;
}

.form-container form{
  margin-top: 20px;
}

.form-container input{
  font-size: 18px;
  margin-top: 10px;
}

.sessionForm-input {
  max-width: 100%;
}

.splash-image {
  background: url(https://res.cloudinary.com/dndf8vddw/image/upload/v1481433338/akbd4la37y4ashf9qtdh.jpg);
  height: 100vh;
  background-position: 0;
  background-size: cover;
}
