
.demo {
  width: 100%;
  margin-top: 10px;
}

.entry-button {
  width: 100%;
  position: relative;
}

.errors {
  font-size: 14px;
  color: $red;
  position: relative;
  right: 40px;
  margin-bottom: 4px;
  top: 15px;
}

.errors-list {
  font-size: 14px;
  color: $red;
  position: relative;
  top: 10px;
  margin-bottom: 30px;
}

.form-container {
    padding: 20px;
    border: solid black 1px;
    background: white;
    box-sizing: inherit;
    font-size: 22px;
    width: 350px;
    border-radius: 10px;
}

.form-container form{
  margin-top: 20px;
}

.form-container h1 {
  height: 25px;
  text-align: center;
}

.form-container input{
  font-size: 18px;
  margin-top: 10px;
  width: 344px;
}

.list-container a {
  cursor: pointer;
}

.sessionForm-input {
  max-width: 100%;

}

.session-form-swap-text {
  position: relative;
  top: 20px;
  font-size: 15px;
}
.session-form-swap-text a{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.splash-image {
  background: url(https://res.cloudinary.com/dndf8vddw/image/upload/v1481433338/akbd4la37y4ashf9qtdh.jpg);
  height: 100vh;
  background-position: 0;
  background-size: cover;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
