.song-item {
  padding-bottom: 5px;
}

.title {
  font-size: 16px;
  position: relative;
  top: 1px;
}

.util-section{
  position: relative;
  bottom: 9px;
  margin-bottom: 15px;
}

.song-player {
  margin-top: 10px;
  display:inline-block;
}

.play-click {
  width: 80px;
  background: lightblue;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 1px;
}

.download-button {
    display: inline-block;
    width: 80px;
    height: 20px;
    background: lightblue;
    padding: 5px;
    padding-bottom: 2px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left: 1px;
}

.download-button a{
  position: relative;
  top: 1px;
}
