
.artist-info-section {
  position: relative;
  left: 50px;
  height: 100%;
  display: flex;
  align-items: center;
}

.artist-info-section a {
  width: 50px;
  height: 50px;
}



.download-icon {
  background-image: image-url("downloadicon.png");
  background-repeat: no-repeat;
  background-size: 40px;
  height:40px;
  width:40px;
}

.download-icon:hover {
  opacity: 0.8;
}



.download-message {
  display: none;
  position: absolute;
  top: -26px;
  left: -12px;
  background: black;
  color:  white;
  font-size: 12px;
  font-family: $roboto;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.download-song-in-player {
  width: 40px !important;
  height: 40px !important;
  position: relative;
  left: 10px;
}

.download-song-in-player:hover{
  cursor: pointer;
}


.elapsed {
  display: block;
  position: relative;
  font-size: 14px;
  width: 67px;
}


.song-footer {
  position: fixed;
  height: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px;
  background-color: #f1f4f4;
}

.fa-volume-up {
  position: relative;
  font-size: 23px !important;
  margin-left: 40px;
  margin-right: 40px;
}

.fa-volume-up:hover {
  cursor: pointer;
}

.input-slider {
  position: relative;
  margin-left: 50px;
  margin-right: 40px;
}

.input-slider:hover {
  cursor: pointer;
}

.link-to-artist {
  flex: 1;
  display: flex;
  align-items: center;
}

.link-to-artist:hover {
  color: black;
}






.play-button {
  height: 100%;
  width: 70px;
  color: black;
  background: #f1f4f4;
  font-size: 14px;
    padding: 7px 0px;
}

.play-button:focus {
  outline: none;
  background: #f1f4f4;
}

.play-button:hover {
  background: #f1f4f4;
}





.fa-pause:before {
    content: "\f04c";
    font-size: 40px;
}

.small-artist-image {
  width: 50px;
  height: 50px;
  border: none;
}

.song-display-container {
  width: 75%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content:space-between;
  position: relative;
  right: 50px;
}

.song-controls {
  display: flex;
  align-items: center;
  height: 100%;
  float: left;
  position: relative;
}

.song-description {
  position: relative;
  left: 15px;
  width: 250px;
  font-size:14px;
}
.song-slider {
  margin-left: 20px;
}

.triangle {
  display: none;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid black;
  position: absolute;
  top: -8px;
  left: 14px;
}

input[type='range'].input-slider {
    -webkit-appearance: none !important;
    background: #cccccc;
    height: 2px;
    width: 360px;
    margin-left: 20px;
    margin-right: 20px;
}
input[type='range'].input-slider:focus {
    outline: 0;
}
input[type='range'].input-slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: grey;
    height:8px;
    width:8px;
    border-radius: 8px;
}

.volume-slider-container {
   display:none;
   border-radius: 20px;
   position: absolute;
   transform: rotate(270deg);
   right: 0px;
   left: -62px;
   background: #f1f4f4;
   width: 140px;
   bottom: 80px;
}

.volume-slider-container:hover{
  display:block;
}

.volume-slider-container input:hover {
  cursor: pointer;
}

.volume-slider-container.visible {
   display: block;
}
