.song-form {
  margin-top: 10px;
  border: solid black 2px;
  padding: 15px;
}

.submit-song{
  margin-top: 4px;
 padding: 5px;
}

.upload-song-file{
  margin-top: 4px;
  padding: 5px;
}

.cancel-submit-song {
  margin-top: 4px;
  margin-left: 3px;
  padding: 5px;
}
