.song-item {
  padding-bottom: 5px;
}

.title {
  font-size: 16px;
  position: relative;
  top: 1px;
}

.util-section{
  position: relative;
  bottom: 9px;
  margin-bottom: 15px;
}

.song-player {
  margin-top: 10px;
  display:inline-block;
}

.play-click {
  width: 80px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 1px;
}

.download-button {
  padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 1px;
    width: 110px;
        left: 5px;
  }

.download-button:hover {
  background:#4683ea;
}

.delete-click {
  padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 1px;
    width: 80px;
    left: 10px;
}

.download-button a{
  position: relative;
  top: 1px;
}
