.songs-box {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;

}

.songs-header {
  width: 90%;
  font-size: 30px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 20px;
}

.edit-songs-button {
  position: relative;
  bottom: 5px;
  left: 5px;
}

.edit-songs-cancel {
  position: relative;
  bottom: 5px;
  left: 5px;
}

.upload-new-song-button {
  position: relative;
  bottom: 5px;
}
