
.header {
  background: black;
  color: white;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}


.header-logo {
  margin-left: 80px;
  font-size: 26px;
  font-weight: 400;
}
.nav-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-right: 18px;
}



.list-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li {
  list-style: none;
}
